@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
        ViewBag.Title = "Not Found";
    }

    <section class="content">
        <div class="container-fluid">
            <div class="card card-default mt-5">
                <div class="card-header">
                    <h2>@ViewBag.ErrorMessage</h2>
                </div>

                @*<div class="card-body" style="margin-left: 5px;">
                    <h3>Path: @ViewBag.Path</h3>
                    <h3>@ViewBag.QS</h3>
                </div>*@
               
                <a asp-action="index" asp-controller="home" style="margin:5px;">
                    Click here to navigate to the home page
                </a>
            </div>
    </div>
    </section>

