@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Manage.Web.ViewModels.EditUserViewModel

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">User Roles & Claims</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body mt-3">
                            <input asp-for="Id" type="hidden" class="form-control">
                            <div class="form-group row">
                                <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="UserName" disabled class="form-control">
                                </div>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>


                            <div class="card mt-5">
                                <div class="card-header">
                                    <h3 class="card-title">User Roles </h3>
                                </div>
                                <div class="card-body">

                                    @if (Model.Roles.Any())
                                    {
                                        foreach (var role in Model.Roles)
                                        {
                                            <h5 style="font-size:16px;">@role</h5>
                                        }
                                    }
                                    else
                                    {
                                        <h5 class="card-title">None at the moment</h5>
                                    }
                                </div>
                                <div class="card-footer">
                                    <a asp-action="ManageUserRoles" asp-route-userId="@Model.Id" style="width:auto" class="btn btn-outline-info">
                                        Manage Roles
                                    </a>

                                </div>
                            </div>

                            <div class="card mt-3">
                                <div class="card-header">
                                    <h3 class="card-title">User Claims </h3>
                                </div>
                                <div class="card-body">  
                                </div>
                                <div class="card-footer">
                                    <a asp-action="ManageUserClaims" asp-route-id="@Model.Id" style="width:auto" class="btn btn-outline-info">
                                        Manage Claims
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    @*<button type="submit" class="btn btn-primary">Update</button>*@
                                    <a asp-action="UsersList" class="btn btn-outline-primary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>